<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multi-step-form</title>
	<link rel="stylesheet" type="text/css" href="/public/multiple-regis.css">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	
	<link href="/dist/output.css" rel="stylesheet">
</head>
<body>
	<div class="bg-gray-50 dark:bg-gray-900">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-5xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
						Register
					</h1>
					<form class="space-y-4 md:space-y-6" action="/register" method="POST">
						<div class="form active">
							<div class="field">
								<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
								<input
									type="username" 
									id="username" 
									name="username" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Create username"
									value="<%= typeof username != 'undefined' ? username : '' %>"
								/>
								<span></span>
							</div>
							<div class="field">
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
								<input 
									type="email" 
									id="email" 
									name="email" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Create email"
									value="<%= typeof email != 'undefined' ? email : '' %>"
								/>
								<span></span>
							</div>
							<div class="field">
								<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
								<input 
									type="password" 
									id="password" 
									name="password" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Create password"
									value="<%= typeof password != 'undefined' ? password : '' %>"
								/>
								<span></span>
							</div>
							<div class="field">
								<label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
								<input 
									type="password" 
									id="password2" 
									name="password2" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Confirm password"
									value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
								/>
								<span></span>
							</div>								
						</div>
						<div class="form">
							<div class="field">
								<label for="Firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
								<input 
									type="text" 
									id="Firstname" 
									name="Firstname" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Firstname"
									value="<%= typeof Firstname != 'undefined' ? Firstname : '' %>"
								/>
							</div>
							<div class="field">
								<label for="Lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
								<input 
									type="text" 
									id="Lastname" 
									name="Lastname" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Lastname"
									value="<%= typeof Lastname != 'undefined' ? Lastname : '' %>"
								/>
							</div>
							<div class="field">
								<label for="phonenum" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
								<input 
									type="number" 
									id="phonenum" 
									name="phonenum" 
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
									placeholder="Phone number"
									value="<%= typeof phonenum != 'undefined' ? phonenum : '' %>"
								/>
							</div>
								
						</div>
						<div class="form">
							<div class="field">
								<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mb-8 gap-4">
									<% for (var i = 0; i < movie.length; i++) { %>
									<form action="/onboarding/get_data" method="post">
										<div class="p-2 bg-white rounded-md border border-gray-200">
											<img
												src= "https://image.tmdb.org/t/p/w500<%= movie[i].poster_path %> "
												class="h-20 w-full object-cover"
											/>
											<div class="text-center mt-2 mb-2">
												<strong class="font-bold"><%= movie[i].title%></strong>
												<input id="movie<%=i%>" type="checkbox" value="<%=movie[i].id%>" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
											</div>
										</div>
									</form>
									<% } %>
								</div>
							</div>
						</div>
						<button class="w-full text-white bg-red-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Previous</button>
						<button class="w-full text-white bg-red-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Next</button>

						<div class="page-indicator">
							<!-- <em class="active"></em>
							<em></em>
							<em></em>
							<em></em> -->
						</div>
					</form>
					<p>
						Already have account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="/services/multi.js"></script>